# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Project files
*.png
fcc-forum-pageviews.csv

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Environment variables
.env